<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <header>
        <nav class="nav">

            <div class="logo">
                <a href="/index.html">&lt;/&gt;PortFolio</a>
            </div>

            <ul class="nav-links">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/project.html">Project</a></li>
                <li><a href="#">Tutorials</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <div class="nav-right">
                <input type="text" placeholder="search...">
                <button>Login</button>
                <button>Signup</button>
                <button class="theme-btn">&#127769</button>
            </div>

            <div class="hamburger">&#9776;</div>

        </nav>
    </header>

    <script src="/js/navbar.js"></script>

</body>

</html>